
<div>
    <div *ngFor='let tab of tabArray(tabCountOutputDuplicate)' class="inline-element">
      <storyboard-tab></storyboard-tab>
    </div>
    <div class="inline-element">
      <storyboard-tab-add (tabCountOutput)="tabCountOutputParent($event)"></storyboard-tab-add>
    </div>
    <div class="inline-element"> 
      <button (click)="clearTabs()">Remove Tabs From Local Storage</button>
    </div>
  </div>

  
  <div>
    <div class="storyboard-page">
        <storyboard-page></storyboard-page>
    </div>
  </div>
